In [17]:
import pandas as pd

In [53]:
boston = pd.read_excel('Odds.xlsx',sheet_name= 'Sheet1')

In [54]:
boston

        DATE OPPONENT      SCORE  SPREAD OVER/UNDER  MONEYLINE
0   Apr 14th      WAS          -       -          -          -
1   Apr 12th      CHA          -       -          -          -
2   Apr 11th      NYK  L 109-118  -3.5 L    O 221.5   NYK -155
3    Apr 9th     @MIL   L 91-104  +3.5 L      U 231   MIL +142
4    Apr 7th      POR  W 124-107   -17 L    O 216.5  BOS -1600
..       ...      ...        ...     ...        ...        ...
87  Jul 15th     @ORL    W 94-77  -4.5 W      U 177   BOS -200
88  Jul 14th     @NYK    L 89-97  -3.5 L    O 182.5   NYK -170
89  Jul 12th      LAL    W 95-90  +3.5 W    U 185.5   BOS +130
90   Jul 9th     @WAS   L 98-103  -3.5 L    O 179.5   WAS -175
91   Jul 8th      MIA    L 88-99  -0.5 L    O 184.5   MIA -112

[92 rows x 6 columns]

Outline:

scrape box scores to make tables for stats

ELO system to find undervalued games

for players that are sitting, find the impact of specific player (win shares?) 


if win probablilty > implied odds bet it